h1 {
  font-size: 48px;
  text-align: center;
  font-weight: bold;

  background: linear-gradient(90deg, #ff4d4d, #ff99cc, #ff4d4d);
  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

body {
  background-color: black;
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; /* moves content down */
  align-items: center; /* centers horizontally */
}

.myBox {
  width: 90%;
  max-width: 600px;
  display: flex;
  margin-top: 100px;
  height: 10%;
  margin: 200px auto 0 auto;
  padding: 30px;
}
